<div ng-app="konnichiwa" ng-controller="KonnichiwaController as konnichiwa">
    <div class="container">
        <div class="left-column">
            Last Message from Chat Partner:
            <br /><br />
            <span class="prompt" ng-bind-html="konnichiwa.convertToFurigana(konnichiwa.prompt.text)">{{konnichiwa.prompt.text}}</span><span ng-if="konnichiwa.show_translations && konnichiwa.prompt"> - {{konnichiwa.prompt.translation}}</span>
            <br /><br />
            <div>
                <input type="string" ng-model="konnichiwa.response" respond="konnichiwa.respond()" required >
                <button class="btn" ng-click="konnichiwa.respond()">Respond</button>
                <button class="btn" ng-click="konnichiwa.reset()">Reset</button>
            </div>
            <br />
            <div class="chat-transcript-container">
                Transcript:
                <div class="chat-transcript">
                    <div class="chat chat-{{chat.actor}}" ng-repeat="chat in konnichiwa.chat_transcript"><span ng-bind-html="konnichiwa.convertToFurigana(chat.phrase.text)">{{chat.phrase.text}}</span> <span class="red" ng-if="konnichiwa.show_translations"> - {{chat.phrase.translation}}</span></div>
                </div>
            </div>
        </div>
        <div class="right-column">
            Show Suggestions: <input type="checkbox" ng-model="konnichiwa.show_suggestions"/><br/>
            Show Translations: <input type="checkbox" ng-model="konnichiwa.show_translations"/><br/>
            Show Furigana: <input type="checkbox" ng-model="konnichiwa.show_furigana"/>
            <br /><br />
            <div ng-show="konnichiwa.show_suggestions">
                <span ng-show="konnichiwa.suggestions.length > 0">Suggested Responses:</span>
                <span ng-show="konnichiwa.suggestions.length == 0">No Suggested Responses</span>
                <ul>
                    <li class="suggestions" ng-repeat="suggestion in konnichiwa.suggestions" >
                        <a href="" ng-click="konnichiwa.response = suggestion.text; konnichiwa.suggestionClicked(key, suggestion)"><span ng-bind-html="konnichiwa.convertToFurigana(suggestion.text)">{{suggestion.text}}</span></a><span ng-if="konnichiwa.show_translations"> - {{suggestion.translation}}</span>
                    </li>
                </ul>
            </div>
            <div ng-show="konnichiwa.show_suggestions">
                <span ng-show="konnichiwa.segue_list.length > 0">Suggested Segues:</span>
                <span ng-show="konnichiwa.segue_list.length == 0">No Suggested Segues</span>
                <ul>
                    <li class="segues" ng-repeat="(key, phrase) in konnichiwa.segue_list">
                        <a href="" ng-click="konnichiwa.response = phrase.text; konnichiwa.suggestionClicked(key, phrase)"><span ng-bind-html="konnichiwa.convertToFurigana(phrase.text)">{{konnichiwa.convertToFurigana(phrase.text)}}</span></a><span ng-if="konnichiwa.show_translations"> - {{phrase.translation}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
